
.navbarr{
    flex-direction: column;
}
.cart{
    display: none;
}
.listitems{
    font-size: 1.5rem;
}
.listitems {
    /* text-decoration: none; */
    padding: 0rem 0.5rem;
    /* color: black; */
     /* border: 2px solid green; */
    /* border-radius: 3rem;  */
}
.lists li a{
    padding: 0.5rem 1.5rem;
}